body {
    margin: 30px;
    font-family: monospace;
    background-color: #2d2d2d;
    color: white;
    font-size: 18;
}
 h1 {
    color: #279393;
    font-size: 48px;
 }

 a {
     color: #21b9b9;
     text-decoration: none;
 }

 a:visited {
     color: rgb(52, 170, 131);
 }